/* all common css start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a,
a:hover {
  text-decoration: none;
}
button:focus,
a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
header,
footer,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
body {
  background-color: #121212;
  font-family: "Lato", sans-serif;
}
.row {
  margin-right: calc(0 * var(--bs-gutter-x));
  margin-left: calc(0 * var(--bs-gutter-x));
}
.row > * {
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
}
.container {
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
}
/* all common css end  */

/* navber part start  */
.navbar {
  --bs-navbar-padding-y: 0;
}
.navbar-nav .nav-item {
  padding: 20px;
}
.navbar-nav .nav-item .nav-link {
  color: #959595;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  transition: 0.4s;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #fd6f00;
}
.button a {
  color: #fff;
  background: #fd6f00;
  padding: 12px 34px;
  border-top: 2px solid #fd6f00;
  border-left: 2px solid #fd6f00;
  border-right: 2px solid #e46400;
  border-bottom: 2px solid #e46400;
  border-radius: 8px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  transition: 0.4s;
}
.button a:hover {
  color: #fd6f00;
  background: transparent;
  border-top: 2px solid #fd6f00;
  border-left: 2px solid #fd6f00;
  border-right: 2px solid #e46400;
  border-bottom: 2px solid #e46400;
}
/* navber part end  */

/* banner part start  */
#banner {
  padding-top: 50px;
}
.banner {
  padding-top: 30px;
}
.bannerLeft {
  position: relative;
}
.bannerLeft img {
  position: absolute;
  top: 50px;
  left: -100px;
  z-index: 0 !important;
}
.bannerLeftContent {
  position: absolute;
  padding: 105px 0;
  top: 0;
  left: 0;
  z-index: 1 !important;
}
.bannerLeftContent h3 {
  color: #707070;
  font-size: 24px;
  font-weight: 600;
}
.bannerLeftContent h2 {
  color: #959595;
  font-size: 28px;
  font-weight: 700;
  padding: 20px 0 20px;
}
.bannerLeftContent h1 {
  background: linear-gradient(45deg, #984300, #fd6f00, #ca5900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 70px;
  font-weight: 900;
  line-height: 84px;
  padding-bottom: 35px;
}
.bannerLeftContentSocial {
  display: flex;
  padding-bottom: 60px;
}
.bannerLeftContentSocial a {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bababa;
  border: 1px solid #bababa;
  border-radius: 50%;
  padding: 12px;
  margin-right: 20px;
  transition: 0.4s;
}
.bannerLeftContentSocial a:hover {
  border: 1px solid #fd6f00;
  background-color: #fd6f00;
}
.bannerLeftContentBtn a {
  margin-right: 25px;
  margin-bottom: 80px;
  display: inline-block;
}
.bannerLeftContentExperience {
  background-color: rgba(149, 149, 149, 4%);
  width: 535px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.experience {
  border-right: 1px solid #959595;
  padding-right: 30px;
}
.Clients {
  border-right: none;
  padding-right: 0;
}
.experience h4 {
  color: #fd6f00;
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 15px;
}
.experience span {
  color: #dfdfdf;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.bannerRight img {
  transition: 0.4s;
}
.bannerRight img:hover {
  transform: scale(1.05);
}
/* banner part end  */

/* service part end  */
#service {
  padding: 150px 0;
}
.commonHead {
  text-align: center;
  padding-bottom: 40px;
}
.commonHead h2 {
  color: #fefefe;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
}
.commonHead p {
  color: #707070;
  font-size: 20px;
  font-weight: 500;
}
.serviceAllCard {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.serviceCard {
  background-color: rgba(87, 87, 87, 4%);
  text-align: center;
  border: 1px solid black;
  border-radius: 24px;
  padding: 35px;
  transition: 0.4s;
}
.serviceCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  /* border: none; */
}
.serviceCard h3 {
  color: #fd6f00;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
  padding: 15px 0 25px;
}
.serviceCard span {
  color: #575757;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  width: 300px !important;
  display: inline-block;
}
/* service part end  */

/* about part start  */
#about {
  padding-bottom: 100px;
}
.aboutContent {
  display: flex;
}
.aboutContentText {
  padding: 113px 0 113px 130px;
}
.aboutContentText p {
  color: #959595;
  font-size: 20px;
  font-weight: 500;
  line-height: 190%;
  text-align: justify;
}
.aboutContentTextBtn {
  margin-top: 40px;
}
.skills {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  margin: 100px 0 0;
  color: #fff;
}
.skill {
  text-align: center;
  /* flex: 1;  */
  min-width: 200px;
}
.skill span {
  color: #e46400;
  font-size: 30px;
  font-weight: 700;
}
.skill p {
  color: #959595;
  font-size: 24px;
  font-weight: 700;
  padding-top: 5px;
}
.circle {
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
}
.circle svg {
  width: 120px;
  height: 120px;
  transform: rotate(-90deg);
}
circle {
  fill: none;
  stroke-width: 10;
  r: 50;
  cx: 60;
  cy: 60;
}
circle.bg {
  stroke: #333;
}
circle.progress {
  stroke: #e46400;
  stroke-linecap: round;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
  transition: stroke-dashoffset 0.3s linear;
}
.skillIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skillIcon i {
  color: #959595;
  font-size: 45px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.skillIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.number {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #e46400;
}
/* about part end  */

/* portfolio part end  */
.portfolioBtn {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.portfolioBtn a {
  color: #c6c6c6;
  background-color: #252525;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 40px;
  border-radius: 8px;
  margin-bottom: 70px;
  transition: 0.4s;
}
.portfolioBtn a:hover {
  color: #fff;
  background-color: #fd6f00;
}
.portfolioImages {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.padding {
  padding-bottom: 0 !important;
}
.portfolioImg {
  transition: 0.4s;
}
.portfolioImg:hover {
  transform: scale(1.03);
}
.portfolioImgBottom {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
}
.portfolioImgBottom p {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
}
.portfolioImgBottom span {
  color: #959595;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
}
/* portfolio part end  */

/* contact part start  */
#contact {
  padding: 150px 0;
}
.contactForm {
  padding-top: 20px;
}
.contactForm form {
  display: flex;
  justify-content: center;
}
.contactFormCommon textarea {
  height: 160px;
  caret-color: #959595;
}
.selectBox select,
.contactFormCommon textarea,
.contactFormCommon input {
  width: 490px;
  background-color: #1b1b1b;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  display: block;
  margin: 0 15px 30px;
}
.selectBox select,
.contactFormCommon textarea::placeholder,
.contactFormCommon input::placeholder {
  color: #959595;
  font-size: 16px;
  font-weight: 500;
}
.contactFormCommon input:not(:placeholder-shown) {
  color: #959595;
}
.contactFormCommon textarea:not(:placeholder-shown) {
  color: #959595;
}
.contactFormCommon input:focus {
  color: #959595;
  font-size: 16px;
  font-weight: 500;
}
.contactFormRight {
  position: relative;
}
.contactFormRight a {
  color: #959595;
  border: 2px solid #959595;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 16px;
  bottom: -60px;
  padding: 12px 40px;
  transition: 0.4s;
}
.contactFormRight a:hover {
  color: #fff;
  background-color: #fd6f00;
  border: 2px solid #fd6f00;
}
/* contact part end  */

/* footer part start  */
#footer {
  background-color: #1b1b1b;
  padding: 40px 0 25px 0;
}
.footer {
  text-align: center;
}
.footerMenu ul {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.footerMenu ul li {
  padding: 0 30px;
}
.footerMenu ul li a {
  color: #959595;
  font-size: 20px;
  font-weight: 500;
  transition: 0.4s;
}
.footerMenu ul li a:hover {
  color: #fd6f00;
}
.footerSocial {
  display: flex;
  justify-content: center;
  padding-bottom: 0 !important;
}
.footerContact {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.footerContact span {
  color: #959595;
  font-size: 20px;
  font-weight: 700;
  padding: 0 20px;
}
.footerLine{
  height: 1px;
  width: 525px;
  background-color: #959595;
  margin: 0 auto;
}
.footerCopyright{
  padding-top: 15px;
}
.footerCopyright p{
  color: #707070;
  font-size: 16px;
  font-weight: 700;
}
.footerCopyright p span{
  color: #ca5900;
  font-size: 18px;
  font-weight: 700;
}
/* footer part end  */
